
Data/caro60.csv
Data/Feldaufnahmen_Fanel.gpkg
Data/Jogging 1.gpx
Data/Jogging 2.gpx
Data/Jogging 3.gpx
Data/Jogging 4.gpx
Data/Jogging 5.gpx
Data/Jogging 6.gpx
Data/Jogging 7.gpx
Data/Jogging 8.gpx
Data/Jogging 9.gpx
Data/pedestrian.csv
Data/pk100_BE.tif
Data/Skitour.gpx
Data/vegetationshoehe_LFI.tif
Data/Velotour 1.gpx
Data/Velotour 2.gpx
Data/Wanderung 1.gpx
Data/Wanderung 2.gpx
Data/Wanderung 3.gpx
Data/Wanderung 4.gpx
Data/Wanderung 5.gpx
Data/wildschwein_BE.csv
Data/wildschwein_BE_2056.csv
.Rproj.user
